<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/tournaments.js"></script>
</head>
{{!-- In this file we are going to display our website's interface using handlebars --}}
<body>
    {{{ body }}}
</body>

</html>